@font-face {

    font-family: ;
    src: url(../fonts/Gotham-book.ttf);
    src: url(../fonts/Montserrat-Regular.otf);
    src: url(../fonts/Montserrat-UltraLight.otf);
}
body{
    background: url("../img/body_bg.png") center no-repeat;
}
html, body {
    width: 100%;
    height: 1150px;
}
.logo{
    top: 22px;
}
.menu{
    top: 35px;

}
.menu_btn{
    color: white;
    font-size: 20px;
    border-bottom-color: #f3ff12;
    border-radius: 0px;
    border-bottom-width: 2px;
}
.menu_btn:hover{
    color: #14ffb4;

}
